* {
    color: aliceblue;
}

.background {
    background-color: black;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(45% - 10px);
    height: 200px;
    border: 2px white solid;
    margin: 10px;
    padding: 20px;
    position: relative; /* Ensure the plus sign is positioned relative to the .box element */
    margin-bottom: 20px; /* Adjust as needed */
    box-sizing: border-box;
}


.plus-sign {
    position: absolute; /* Position the plus sign relative to the .box element */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the plus sign precisely */
    font-size: 24px; /* Adjust the size of the plus sign */
    color: white; /* Set the color of the plus sign */
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

