* {
    color: aliceblue;
    --primary-color: #000000;
    --secondary-color: aliceblue;
    --tertiary-color: rgb(68, 68, 68);
    --quaternary-color: rgba(224, 224, 224, 0.5);
} 

body{
    background-color: var(--primary-color);
    font-family: Poppins;
    margin: 0px;

    display: grid;
    grid-template-columns: max-content 1fr; 
    grid-template-rows: 2em 48px 1fr;
    grid-template-areas: 
        "sidebar header header header"
        "sidebar header header header"
        "sidebar content content content"
        "sidebar content content content";
}

#sidebar {
    grid-area: sidebar;
    min-width: 250px;
    border-color: var(--secondary-color);
    border-width: 1px;
    border-style: solid;
    background-color: var(--primary-color);
    border-top: none;
    border-left: none;
    border-bottom: none;
    padding: 0 0 35px;
    height: 100vh;
    margin-right: 10px;
    min-width: max-content;
}

/* project tab element */
.project {
    display: block;
    color: var(--tertiary-color);
    font-size: 16px;
    color: var(--secondary-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--secondary-color);
    padding: 10px 0px 10px 35px;
    border-right: none;
    border-left: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* nice little detail */
}

.project:hover {
    background-color: var(--tertiary-color);
}

.content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
}

#title {
    margin-top: 20px;
    margin-left: 35px;
    margin: 20px 35px 20px 35px;
}

#header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

select {
    font-family: Poppins;
    font-size: 0.9em;
    margin-bottom: 15px;
}

select#sort {
    margin: 0px;
}

/* todo element */
.box {
    width: 350px;
    height: 300px;
    border: 2px var(--secondary-color) solid;
    margin: 10px;
    padding: 20px;
    /* padding-top: 30px; */
    position: relative; /* Ensure the plus sign is positioned relative to the .box element */
    margin-bottom: 20px; /* Adjust as needed */
    box-sizing: border-box;
    min-width: 350px;
    transition: background-color 0.3s ease;
}

.box.clickable:hover {
    background-color: var(--quaternary-color); /* Change background color with opacity */
}

.plus-sign {
    position: absolute; /* Position the plus sign relative to the .box element */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the plus sign precisely */
    font-size: 24px; /* Adjust the size of the plus sign */
    color: var(--secondary-color); /* Set the color of the plus sign */
    cursor: pointer; /* Change cursor to indicate it's clickable */
    padding: 70px 200px;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 15px;
}

input#planned, input#due {
    margin-bottom: 19px;
}

input:focus {
    outline: none;
    border: none;
}

#priority {
    background-color: var(--primary-color);
    border-radius: 0%;
}

#sort {
    background-color: var(--primary-color);
    margin-bottom: 19px;
    border-radius: 0%;
}

button {
    margin-top: 9px;
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--secondary-color);
    border-radius: 3px;
}

button:focus {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

/* Target the date picker icon specifically */
input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: var(--secondary-color); /* Set the background color of the date picker icon to transparent */
    /* You can also set other properties like width, height, etc. to customize the appearance of the icon */
}

.deleteBtn {
    position: absolute;
    bottom: 25px;
    right: 35px;
}

input.projName {
    margin: 0px;
}

button.addBtn { 
    margin: 0px;
}

#activeTab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: #333;
    text-align: center; /* Horizontally center the button */
}

#deleteBtn {
    margin: 0px;
    background: url('./images/deleteButton.png') no-repeat center center;
    background-size: contain; /* Ensure the image scales appropriately */
    width: 23.636px; /* Set the desired width */
    height: 23.636px; /* Set the desired height */
    border-width: 2px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 15%;
    margin-right: 13px;
}

