:root {
    --static: rgba(225, 225, 225, 0.5);
    --static2: #0f0f0f;
    --static3: rgb(255, 255, 255);
    --static4: rgba(225, 225, 225, 0.2);
    --static5: rgb(24, 172, 122);
    --static6: rgba(0, 0, 0, 0.05);
    --static7: rgba(0, 0, 0, 0.1);
    --static8: rgba(0, 0, 0, 0.05);
    --static9: rgba(0, 0, 0, 0.3);
    --static10: rgba(225, 225, 225);
    --static11: rgba(0, 0, 0, 0.03);
    --static12: rgba(255, 255, 255, 0.8);
    --static13: rgb(235, 235, 235);
    --static14: rgba(0, 0, 0, 0.2);
    --static15: rgba(255, 255, 255, 0.5);

    --margin-lg: 0 12%;
} 

:root[data-theme="light"] {
    --text-50: hsl(37, 31%, 95%);
    --text-100: hsl(35, 33%, 90%);
    --text-200: hsl(35, 33%, 80%);
    --text-300: hsl(36, 33%, 70%);
    --text-400: hsl(36, 33%, 60%);
    --text-500: hsl(36, 33%, 50%);
    --text-600: hsl(36, 33%, 40%);
    --text-700: hsl(36, 33%, 30%);
    --text-800: hsl(35, 33%, 20%);
    --text-900: hsl(35, 33%, 10%);
    --text-950: hsl(38, 31%, 5%);

    --background-50: hsl(37, 52%, 95%);
    --background-100: hsl(36, 49%, 90%);
    --background-200: hsl(35, 50%, 80%);
    --background-300: hsl(36, 50%, 70%);
    --background-400: hsl(36, 50%, 60%);
    --background-500: hsl(36, 50%, 50%);
    --background-600: hsl(36, 50%, 40%);
    --background-700: hsl(36, 50%, 30%);
    --background-800: hsl(36, 51%, 20%);
    --background-900: hsl(36, 49%, 10%);
    --background-950: hsl(37, 52%, 5%);

    --primary-50: hsl(39, 54%, 95%);
    --primary-100: hsl(38, 53%, 90%);
    --primary-200: hsl(36, 55%, 80%);
    --primary-300: hsl(37, 54%, 70%);
    --primary-400: hsl(37, 54%, 60%);
    --primary-500: hsl(37, 54%, 50%);
    --primary-600: hsl(37, 54%, 40%);
    --primary-700: hsl(37, 54%, 30%);
    --primary-800: hsl(36, 55%, 20%);
    --primary-900: hsl(38, 53%, 10%);
    --primary-950: hsl(34, 54%, 5%);

    --secondary-50: hsl(38, 62%, 95%);
    --secondary-100: hsl(37, 61%, 90%);
    --secondary-200: hsl(37, 63%, 80%);
    --secondary-300: hsl(37, 62%, 70%);
    --secondary-400: hsl(37, 62%, 60%);
    --secondary-500: hsl(37, 62%, 50%);
    --secondary-600: hsl(37, 62%, 40%);
    --secondary-700: hsl(37, 62%, 30%);
    --secondary-800: hsl(37, 63%, 20%);
    --secondary-900: hsl(37, 61%, 10%);
    --secondary-950: hsl(38, 62%, 5%);

    --accent-50: hsl(37, 69%, 95%);
    --accent-100: hsl(37, 73%, 90%);
    --accent-200: hsl(37, 71%, 80%);
    --accent-300: hsl(37, 71%, 70%);
    --accent-400: hsl(37, 71%, 60%);
    --accent-500: hsl(37, 71%, 50%);
    --accent-600: hsl(37, 71%, 40%);
    --accent-700: hsl(37, 71%, 30%);
    --accent-800: hsl(37, 71%, 20%);
    --accent-900: hsl(37, 73%, 10%);
    --accent-950: hsl(37, 69%, 5%);
}

:root[data-theme="dark"] {
    --text-50: hsl(38, 31%, 5%);
    --text-100: hsl(35, 33%, 10%);
    --text-200: hsl(35, 33%, 20%);
    --text-300: hsl(36, 33%, 30%);
    --text-400: hsl(36, 33%, 40%);
    --text-500: hsl(36, 33%, 50%);
    --text-600: hsl(36, 33%, 60%);
    --text-700: hsl(36, 33%, 70%);
    --text-800: hsl(35, 33%, 80%);
    --text-900: hsl(35, 33%, 90%);
    --text-950: hsl(37, 31%, 95%);

    --background-50: hsl(37, 52%, 5%);
    --background-100: hsl(36, 49%, 10%);
    --background-200: hsl(36, 51%, 20%);
    --background-300: hsl(36, 50%, 30%);
    --background-400: hsl(36, 50%, 40%);
    --background-500: hsl(36, 50%, 50%);
    --background-600: hsl(36, 50%, 60%);
    --background-700: hsl(36, 50%, 70%);
    --background-800: hsl(35, 50%, 80%);
    --background-900: hsl(36, 49%, 90%);
    --background-950: hsl(37, 52%, 95%);

    --primary-50: hsl(34, 54%, 5%);
    --primary-100: hsl(38, 53%, 10%);
    --primary-200: hsl(36, 55%, 20%);
    --primary-300: hsl(37, 54%, 30%);
    --primary-400: hsl(37, 54%, 40%);
    --primary-500: hsl(37, 54%, 50%);
    --primary-600: hsl(37, 54%, 60%);
    --primary-700: hsl(37, 54%, 70%);
    --primary-800: hsl(36, 55%, 80%);
    --primary-900: hsl(38, 53%, 90%);
    --primary-950: hsl(39, 54%, 95%);

    --secondary-50: hsl(38, 62%, 5%);
    --secondary-100: hsl(37, 61%, 10%);
    --secondary-200: hsl(37, 63%, 20%);
    --secondary-300: hsl(37, 62%, 30%);
    --secondary-400: hsl(37, 62%, 40%);
    --secondary-500: hsl(37, 62%, 50%);
    --secondary-600: hsl(37, 62%, 60%);
    --secondary-700: hsl(37, 62%, 70%);
    --secondary-800: hsl(37, 63%, 80%);
    --secondary-900: hsl(37, 61%, 90%);
    --secondary-950: hsl(38, 62%, 95%);

    --accent-50: hsl(37, 69%, 5%);
    --accent-100: hsl(37, 73%, 10%);
    --accent-200: hsl(37, 71%, 20%);
    --accent-300: hsl(37, 71%, 30%);
    --accent-400: hsl(37, 71%, 40%);
    --accent-500: hsl(37, 71%, 50%);
    --accent-600: hsl(37, 71%, 60%);
    --accent-700: hsl(37, 71%, 70%);
    --accent-800: hsl(37, 71%, 80%);
    --accent-900: hsl(37, 73%, 90%);
    --accent-950: hsl(37, 69%, 95%);
}

* {
    color: var(--text-900);
}
  

body{
    background-color: var(--background-50);
    font-family: Poppins;
    margin: 0px;
    /* margin: var(--margin-lg); */
    gap: 20px;

    display: grid;
    grid-template-columns: 300px 1fr; 
    grid-template-rows: 4em 1fr;
    grid-template-areas: 
        "header header header header"
        "sidebar content content content"
        "sidebar content content content";
}

#header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid var(--static7);
    height: 65px;
    /* position: fixed; */
    /*top: 0;*/
    /* width: 100%; */
}

h1#title {
    font-weight: 600;
}

#rightGap {
    display: flex;
    gap: 30px; /* Optional: Add gap between the elements */
}

#sidebar {
    grid-area: sidebar;
    background-color: var(--static11);
    padding: 16px;
    height: 85vh;
    width: 300;
    /* min-width: max-content; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
    margin-left: 50px;
}

#activeTab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-100);
    opacity: 100%;
    text-align: center; /* Horizontally center the button */
}

#user {
    font-size: 16px;
    padding: 1em 2em;
    cursor: pointer;
    transition: background-color 0.3s ease; /* nice little detail */
    opacity: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

#user:hover {
    background-color: var(--static11);
}

/* project tab element */
.project {
    /* display: block; */
    font-size: 16px;
    padding: 1em 0em 1em 2em;
    cursor: pointer;
    transition: background-color 0.3s ease; /* nice little detail */
    opacity: 60%;
    border-radius: 30px;
}

.project:hover {
    background-color: var(--text-100);
    opacity: 100%;
}

.content {
    grid-area: content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
}

select {
    font-family: Poppins;
    font-size: 0.9em;
    margin-bottom: 14px;
}

select#sort {
    margin: 0px;
}

/* todo element */
.box {
    background-color: var(--secondary-100);
    width: 350px;
    height: 300px;
    padding: 27px;
    /* padding-top: 30px; */
    position: relative; /* Ensure the plus sign is positioned relative to the .box element */
    box-sizing: border-box;
    min-width: 350px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.box.clickable:hover {
    background-color: var(--secondary-200); /* Change background color with opacity */
}

.plus-sign {
    /*Position the plus sign relative to the .box element*/
    position: absolute; 
    /*Center vertically */
    top: 0px;
    /*Center horizontally */
    left: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;   
    line-height: 300px;
    width: 350px;
    height: 300px;
    /* transform: translate(-50%, -50%); Center the plus sign precisely */
    font-size: 24px; /* Adjust the size of the plus sign */
    color: var(--accent-700); /* Set the color of the plus sign */
    cursor: pointer; /* Change cursor to indicate it's clickable */
    /* padding: 70px 200px; */
}

form {
    margin: 10px 0px 0px 10px;
}

h2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 15px;
    font-family: Poppins;
}

input.projName {
    width: 105px;
}

input#planned, input#due {
    margin-bottom: 19px;
}

input#title, input#description {
    width: 160px;
}

input:focus {
    outline: none;
    border: none;
}

input.project {
    width: 20px;
}

#priority {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--static7);
    padding-left: 4px;
}

#sortByDiv {
    display: flex;
}

#sort {
    margin-top: 0px;
    border: none; /* Remove default border */
    padding: 10px 10px; /* Example padding */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 10px; /* Rounded corners */
    border: 1px solid var(--static7);
    background-color: rgba(0, 0, 0, 0);
}

#sort:focus {
    border: 1px solid var(--static7);
}

option {
    background-color: var(--background-50);
    border: none;/*useless stuff lol*/
    border-radius: 15px;
    box-shadow: none;
}

option:focus {
    background-color: #0f0f0f;
    border-radius: 15px;
    box-shadow: none;
}

button {
    font-family: Poppins;
    margin-top: 9px;
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--secondary-color);
    border-radius: 3px;
}

button:focus {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

/* Target the date picker icon specifically */
input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: var(--secondary-color); /* Set the background color of the date picker icon to transparent */
    /* You can also set other properties like width, height, etc. to customize the appearance of the icon */

}

.deleteBtn {
    position: absolute;
    bottom: 25px;
    right: 35px;
}

input.projName {
    margin: 0px;
}

button.addBtn { 
    margin: 0px;
}

button.addBtn, button#createBtn {
    padding: 1px;
}

#deleteBtn {
    margin: 0px;
    background: url('./images/deleteButton.png') no-repeat center center;
    background-size: contain; /* Ensure the image scales appropriately */
    width: 23.636px; /* Set the desired width */
    height: 23.636px; /* Set the desired height */
    border-width: 2px;
    border-style: solid;
    border-color: var(--primary-color);
    border-radius: 15%;
    margin-right: 21px;
    opacity: 60%;
}

#github {
    background: url('../dist/6fa18895f6e6c7772cab.svg') no-repeat center center;
    background-size: contain; /* Ensure the image scales appropriately */
    width: 30px; /* Set the desired width */
    height: 30px; /* Set the desired height */
    align-self: center;
}
/* deleteButton.addEventListener("click", function(){//could make it shorter but not now

    deleteTodoBox(todo, box, project);
}); */

#palletBtn {
    /* position: fixed; */
    /* bottom: 20px; 
    right: 20px;  */
    margin-top: 0px;
    color: text; /* Example text color */
    border: none; /* Remove default border */
    padding: 10px 10px; /* Example padding */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 10px; /* Rounded corners */
    border: 1px solid var(--static7);
}

::-webkit-scrollbar {
width: 8px;
height: 3px;
background-color: rgba(131, 131, 131, 0.1);
}
::-webkit-scrollbar-thumb {
background-color: rgba(129, 129, 129, 0.5);
}

a {
    width: 0px;
    height: 0px;
    margin-right: 30px;
    padding: 7px 0px;
}
